* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 15px;
}

.finder {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #999999;
}

button {
    cursor: pointer;
}

.label-header {
    margin-bottom: 10px;
}

.response {
    margin-top: 20px;
    text-align: left;
}